<div class = "container">
    <table class="table">
        <thead>
            <tr>
                <th>Payment ID</th>
                <th>Description</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Credit</th>
                <th>Debit</th>
                
            </tr>
        </thead>
        <!--
        <tbody>
            <tr *ngFor="let PaymentList of paymentDetailsList">
                <td>{{paymentsDetails.ID}}</td>
                <td>{{paymentsDetails.description}}</td>
                <td>{{paymentsDetails.Category}}</td>
                <td>{{paymentsDetails.Amount}}</td>
                <td>{{paymentsDetails.Transaction Type}}</td>
                <td>
                    <button type="button" class="btn btn-link">creadit</button>
                    <button type="button" class="btn btn-link">Debit</button>
                </td>
            </tr>
            
        </tbody>
        -->
    </table>
    
</div>
