<div class="banner">
    <div class= "content">
    <h1 class="mb-5">Bank Portal System</h1>
    <a routerLink="menu">Make a Payment</a>
</div>
</div>
<div class="container mt-5 mb-4">
    <h1>Payments last Week <i class="bi bi-chevron-compact-down"></i></h1>
    <div class="row">
    
    </div>
</div>

<div class = "container">
    <table class="table">
        <thead>
            <tr>
                <th>Payment ID</th>
                <th>Description</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Transaction Type</th>
                
            </tr>
        </thead>
        <!--
        <tbody>
            <tr *ngFor="let PaymentList of paymentDetailsList">
                <td>{{paymentsDetails.ID}}</td>
                <td>{{paymentsDetails.description}}</td>
                <td>{{paymentsDetails.Category}}</td>
                <td>{{paymentsDetails.Amount}}</td>
                <td>{{paymentsDetails.Transaction Type}}</td>
                <td>
                    <button type="button" class="btn btn-link">creadit</button>
                    <button type="button" class="btn btn-link">Debit</button>
                </td>
            </tr>
            
        </tbody>
        -->
    </table>
    
</div>